@model NorthwindCms.Models.StandardPage
@{
    ViewBag.Title = Model.Title;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <h1>@Model.Title</h1>
        </div>
    </div>
    @Html.DisplayFor(m => m.Blocks)
</div>
