@page
@using Packt.Shared
@model PacktFeatures.Pages.EmployeesPageModel
<h2>Employees</h2>
<div>
@foreach(Employee employee in Model.Employees)
{
<partial name="_Employee" model="employee" />
}
</div>